
body {
	background: #ffffff url(../images/bg-body.jpg) repeat left bottom;
	font-family: "Times New Roman", Times, serif;
	margin: 0 auto;
}
#background {
	background: #F2F2F2;
	border: 0px;
	margin: 0px;
	padding: 0px;
	/*min-height: 900px;*/
}
p{
	text-indent: 5em;
}
/* ----------PREHEADER---------- */ 
#preheader { 
	width: 800px;
	height: 20px;
	clear: both;
	text-align: center;
	margin: 0px auto;
}
#preheader ul { 
	list-style: none;
	/*display: inline-block;*/
	float: right;
	margin: 0;
	height: 20px;
}
#preheader ul li { 
	display: inline-block;
	padding: 0px 3px;
	height: 20px;
}
#preheader li a {
	color: #7D8B9A;
	display: block;
	font: 12px Arial, Helvetica, sans-serif;
	display: block;
	text-decoration: none;
}
#preheader ul li:last-child{
	text-decoration: underline;
}

/* -----------LOGOS------------- */
#container_header {
	width: 800px;
	height: 36px;
	margin: 0 auto;
	padding: 0;
}
#logo_uci {
	float: left;
	margin-top: 4px;
}
#logo_ulock{
	float: right;	
	margin-right: 2px;
	line-height: 74px;
	margin-bottom: 0px;
	padding: 0px; 
}

/* -----------HEADER------------ */

#navigation { 
	clear: both;
	background: url(../images/banner.png) repeat-x;
	margin: 0 auto;
	padding: 0px;
	height: 36px;
}
#navigation ul {
	list-style: none;
	background: url(../images/banner.png) repeat-x;
	height: 36px;
	width: 800px;
	margin: 0 auto;
}
#navigation ul li { 
	display: inline-block;
	height: 36px;
	width: 155px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	border-right: solid 1px silver;

}
#navigation li a {
	color: #fff;
	display: block;
	font: bold 16px/30px Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0px;
}
#navigation li:first-child {
	border-left: solid 1px silver;
	margin-left: -18px;
}

/* -----------PAGE--------------- */
#page {
	background: url(../images/background2.png);
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 800px;
	margin: 3px auto;
	padding: 3px;
}
#under_construction {
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 800px;
	height: 450px;
	margin: 0 auto;
	margin-top: 4px;
	padding: 0;
	background: url(../images/background2.png);
}
#con_image{
	margin-left: 300px;
    margin-top: 125px;
	width: 200px;
	height: 200px;
	float: center;
}
#button{
	margin-left: 350px;
	margin-top: 100px;
}	

/* ---------SIGN-IN------------ */
#sign_in{
	padding-top: 10px;
	height: 390px;
	width: 780px;
}
#sign_in_left{
	float: left;
	padding-top: 50px;
	height: 330px;
	width: 299px;
	border-right: solid 1px silver;
}
#sign_in_left > ul{
	margin: 0px auto;
	list-style: none;
	line-height: 40px;
}
li[class="center"]{
	text-align: center;
	margin-right: 50px;
}
input[class="wide"] {
	width:200px;
}
input[class="wide_and_tall"] {
	height: 30px;
	width:200px;
}

#sign_in_right{
	float: right;
	margin: 30px 70px 0px 0px;
	width: 300px;
	height: 100px;
}

/* -----------PROGRESS------------ */
#progress{
	color: white;
	padding: 10px;
	/*width: 780px;*/
}
#progress > ul{
	/*font: bold 14px Arial, Helvetica, sans-serif;*/
	font: bold 15px Times;
	list-style: none;
}
#progress > ul > li{
	padding: 5px;
}

/* -----------ADVISOR------------- */
#advisor{
	color: white;
	padding: 10px;
	width: 780px;
	/*height: 1250px;*/
}
#advisor_header{
	float: left;
	padding: 0px;
	margin: 0px;
	padding-right: 20px;
	padding-bottom: 15px;
	width: 750px;
}
#advisor_header > img{
	float: right;
	padding-right: 20px;
	padding-top: 30px;
}
/* ------------ABOUT--------------- */

#about{
	color: white;
	padding: 8px;
	width: 800px;
	height: 200px;
}
#about > img{
	float: left;
	padding: 20px;
}